# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [5]:
number = 6
print(number)

elephants = 21
print(elephants) 
# variables should reflect what the value is

6
21

##### Assigning float

In [4]:
# float == decimal

num_float = 3.14
print(num_float)

my_float = 23.4454343
print(my_float)

3.14
23.4454343

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 1
num2 = 7

print(num1 + num2)

result = num1 + num2
print(result)

# shorthand +=
num3 = 10
result += num3
print(result)

8
8
18

17
19

##### Subtraction

In [10]:
# most recent thing it will read so if you later change the variable it will go by that most recent set value

num4 = 10
num5 = 15

print(num5 - num4)

result = num4 - num5
print(result)

# shorthand

num6 = -50
result -= num6

print(result)

5
-5
45

##### Multiplication

In [11]:
num1 = 10
num2 = 4.7

product = num1 * num2

print(product)

# shorthand *=
product *= 2
print(product)

47.0
94.0

##### Division

In [12]:
num1 = 45
num2 = 9

quotient = num1/num2
print(quotient)

quotient /= 2
# quotient = quotient / 2     shorthand

print(quotient)

5.0
2.5

##### Floor Division

In [14]:
num1 = 5
num2 = 2

floored = num1 // num2

print(floored)
# this will always round down no matter the decimal

num3 = 6
num4 = 4

num3 //= num4 
# num3 = num3 // num4     this will reassign num3

print(num3)

2
1

##### Modulo

In [16]:
# modulo returns the remainder of a division equation
num1 = 7
if num1 % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [21]:
num2 = 5
num3 = 3

remainder = num2 % num3
print(remainder)

2

In [22]:
# shorthand
num4 = 10
num5 = 7

num4 %= num5
print(num4)

3

##### Exponential

In [28]:
square = 5**2
print(square)

num1 = 3

num2 = 9

print(num2**num1)

# shorthand
num1 **= 2
print(num1)

25
729
9

### String Input-Output

##### String Assignment

In [66]:
name = "Ryan"

sentence = "My dog's name is Eyo"

Ryan
Golden Retriever

##### print() <br>
<p>Don't forget about end=' '</p>

In [34]:
name = "Ryan"
print("Hello", name, end=" sfdf\n")

print("Full name:", name, end=" Lueders")

help(print)

Hello Ryan sfdf
Full name: Ryan LuedersHelp on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [37]:
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name

print(full_name)

full_name += " " + "Jedi Master"
print(full_name)
# this is reassigning it
# strings are immutable, there is no way to add to it
# we create another variable and add two strings together

Luke Skywalker
Luke Skywalker Jedi Master

##### Type Conversion

In [41]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

# not every string can be made into a float or integer but 
# every integer or float can be made into a string
# why?!?!?

name = "Mega Man"
# int_name = int(name)
# will create error

string_num = "123"

print(string_num)
print(type(string_num))

int_num = int(string_num)
print(int_num)

print(type(int_num))

my_float = 4.7
print(type(my_float))

my_string_float = str(my_float)
print(type(my_string_float))

123
<class 'str'>
123
<class 'int'>
<class 'float'>
<class 'str'>

In [45]:
num1 = 10
float2 = 15.23

new_num1 = str(num1)
print(new_num1)
print(type(new_num1))

another_float = float(num1)
print(another_float)

another_int = int(float2)
print(another_int)

# this is a good way to make sure the data type we have is in the right form
# before we do things to it so we don't get errors

10
<class 'str'>
10.0
15

##### input()

In [49]:
# Input will always return a string, all of the time, forever and ever and ever
name = input("What is your name? ")
print("Your name is, ", name)
print(type(name))

num = input("give me a number " )
print(num)
print(type(num))
print(type(int(num)))

What is your name? Kate
Your name is,  Kate
<class 'str'>
give me a number21
21
<class 'str'>
<class 'int'>

##### format()

In [53]:
age = int(input("How old are you? "))
name = input("What is your name? ")

# using the .format() function
result_string = "You are {} years old, {} and you are getting wiser...".format(age,name)
print(result_string)

# more common way to write the string
another_result = f"{age} is a cool time in life, great job, {name}"
print(another_result)

How old are you? 33
What is your name? Kate
You are 33 years old, Kate and you are getting wiser...
33 is a cool time in life, great job, Kate

##### Old Way (python 2)

In [54]:
# don't really need to know this way
result_string2 = "You are %s and you look great for your age!"%age
print(result_string2)

You are 33 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [57]:
color = input("What color is the car? ")
year = input("What year was the car made? ")
make = input("What make is the car? ")
model = input("What model is the car? ")

car_description = f"The car is {color}, was made in {year}, and is a {make} {model}."
print(car_description)

What color is the car? blue
What year was the car made? 1975
What make is the car? Honda
What model is the car? Fit
The car is blue, was made in 1975, and is a Honda Fit.

### If Statements

In [ ]:
# Operators Less Than <, Greater Than >, Equal too ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

# if
# elif
# else

num1 = 6
num2 = 65

if num2 == num1:
    print("yay")
elif num1 > num2:
    print("Num1 is larger")
elif num2 > num1:
    print("Num2 is larger")
else:
    print("they are not equal")

##### 'is' keyword

In [1]:
# use the "is" keyword checking for same/similar objects (location) not same value

num3 = 90

if num3 == 90:
    print("super duper")
    
# if num3 is 90:
#     print("neato")
# will create an error

num4 = num3

if num4 == num3:
    print("they're equal")

if num4 is num3:
    print("these are the same object")

super duper
neato

<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\kelue\AppData\Local\Temp\ipykernel_9676\1447882172.py:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 90:

##### 'in' keyword

In [2]:
# Check if a character is in a string
char_name = "Boba Fett"
if "b" in char_name.lower():
    print("beautiful")
else:
    print("Oh darn, it's not here")
    
# to check if the first letter of the string is b
if char_name.lower()[0] == "b":
    print("yerrp")

beautiful
yerrp

##### 'not in' keyword'

In [4]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if "a" not in sega_char2.lower():
    print("this is not saaaanic")
else:
    print("This is sanic!!! Gotta go fast")

This is sanic!!! Gotta go fast

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [6]:
message = input("What is your message? ")
if "p" in message.lower():
    print("There is a p!!")
else:
    print("There is no p...")

What is your message? do you like pigs?
There is a p!!

## Using 'and'/'or' with If Statements

In [7]:
#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 15
num2 = 3
num3 = 10
num4 = 3

#if with and statement
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("one of the above statements was false")
    
# if with or statement
if num1 > num2 or num3 == num4:
    print("True and False")
else:
    print("Both of the above statements are false")

True and True
True and False

### Elif Statements

In [8]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

first_name = "Bulbasaur"

if first_name == "John":
    print("Hello John")
elif first_name == "Cheetor":
    print("Hello Cheetor")
elif first_name == "Bulbasaur":
    print("Bulbasaur, I choose you!")
elif first_name == "Lando":
    print("Hi Lando")
else:
    print("Sorry, I don't know your name, but hello anyway!")

Bulbasaur, I choose you!

### Else Statements

In [9]:
# else is accounting for every other case that isn't true for any of the ifs or elifs
number = 112
if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"THe number is neither 15 nor 20 it is {number}")

THe number is neither 15 nor 20 it is 112

### String Manipulation

#### .lstrip()

In [ ]:
# cleans up the string and gets rid of extra white space
name = "        Land Calrissian"

print(name)
print(name.lstrip())

#### .rstrip()

In [10]:
name = "Luke Skywalker        "
print(name)

print(name.rstrip())

Luke Skywalker
Luke Skywalker

#### .strip()

In [11]:
name = "     Ash Ketchum      "
print(name)
name = name.strip()
print(name)

     Ash Ketchum
Ash Ketchum

### .replace()

In [23]:
name = "Gandalf"

name = name.replace('a', 'o', 1)

print(name)

Gondalf

#### .title()

In [24]:
name = "goofy goober"

title_name = name.title()
print(title_name)

Goofy Goober

#### .upper()

#### .lower()

darth vader
darth vader

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [35]:
sentence = input("Type a sentence please: ")
print(sentence.title().strip())

Type a sentence please:     here we are enjoying life
Here We Are Enjoying Life

### Built-In Functions

##### len()

In [212]:
# works for strings and lists
# return the elngth of the given variable as an integer

name = "Max"

print(len(name))

length_of_name = len(name)

print(length of name)

# will often see the length of list - 1 to make sure we are getting the last
length_of_name += 2
print(length_of_name)

3
3
7

##### help()

In [218]:
# gives a tooltip on a python built-in function
help(len)
len?

help(print)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

##### isinstance()

In [17]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
else:
    print("Thats not a float")
    
age = input("How old are you? ")
age = int(age)
if isinstance(age, int):
    print(age)

False
This number is a float type
How old are you? pot

ValueError: invalid literal for int() with base 10: 'pot'

##### abs()

In [228]:
# / 5 /
# give us the distance to zero also known as absolute value

print(abs(-5))
print(abs(10))
print(abs(10-30))

5
10
8

### Try and Except

In [38]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday, you were {age} and now you are {age +1}")
except:
    print("Please enter a number, not text")

How old are you? 23
Happy Birthday, you were 23 and now you are 24

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [6]:
user1_age = input("Age of person 1: ")
user2_age = input("Age of person 2: ")

difference = int(user1_age) - int(user2_age)

print(f"The difference in the ages of these two people is {abs(difference)} years")

Age of person 1: 34
Age of person 2: 84
The difference in the ages of these two people is 50 years

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [12]:
noun = input("Please write a person, place or thing: ")
verb = input("Write an action that thing performs: ")
adj = input("Write something that describes the thing: ")

print(f"You said that a {noun} is {adj} and {verb}.")

Please write a person, place or thing: pencil
Write an action that thing performs: writes
Write something that describes the thing: pointy
You said that a pencil is pointy and writes.

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [7]:
try:
    age = int(input("How old are you? "))
    if age < 18 and age > -1:
        print("You are a kid")
    elif age >= 18 and age <=65:
        print("You are an adult")
    elif age > 65:
        print("You are a senior")
    else:
        print("Please write a positive number")
except:
    print("Please write a number, not letters")

How old are you? 45
You are an adult

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

In [33]:
num = int(input("Please type a number: "))

print(f"The square of that number is {num **2}")

Please type a number: 10
The square of that number is 100

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [5]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"

if len(word5) > 5:
    print("True")
else:
    print("False")

False

In [6]:
words = ['panini', 'bulbasaur', 'pie', 'dolphin', 'dog']

for word in words:
    if len(word) > 5:
        print("True")
    else:
        print("False")

True
True
False
True
False